body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.input-section,
.output-section {
    width: 50%;
}

.input-section {
    float: left;
}

.output-section {
    float: right;
}

h1,h2 {
    margin-bottom: 10px;
}

textarea {
    width: calc(100% - 20px);
    height: 150px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
}

