body {
    background-color: #F3F5FC; /* color de fondo */
    display: flex;
    height: 0;
    margin: 100px;
    padding: 10px;
}

.input-section,
.output-section {
    width: 50%;
    display: flex;
    flex-direction: column; /* Alinear los elementos en columna */
}

.input-section {
    width: 70%;
}

.output-section {
    width: 30%; /* Ajustar el ancho de la sección de salida */
}

.input-section textarea {
    width: 125%; 
    height: 400px;
}

.output-section textarea {
    width: 800%; /* El textarea de salida ocupa todo el ancho de la sección */
    height: 400px; /* Altura más pequeña para un aspecto más rectangular */
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.container > div {
    margin: 10px;
}

.container2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    
}

.container2 > div {
    margin: 10px;
}


.button-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
}

button {
    width: 230px;
    height: 47px;
    padding: 20px ;
    gap: 8px;
    border-radius: 30px;
    opacity: 1;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    margin: auto;
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.buttons button {
    margin: 20px;
    padding: 20px;
    justify-content: center;
}

button#encryptButton {
    background-color: #0A3871;
    color: white;
}

button#decryptButton {
    background-color: #D8DFE8;
    color: black;
}
